.category-list {
    list-style-type: none;
    padding: 5px 0 0 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #0dcaf0;
    overflow: auto;
    position: fixed;
    border: solid 1px black;
}

#ord {
    padding: 5px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: white;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-fluid {
    height: 100%;
}
.ordleft {
    padding-left: 30%;
}
.ordright {
    padding-right: 20%;
    padding-left: 10%;
}
.gametitle {
    padding-left: 8px;
}
.ordno {
    padding-right: 8px;
}
.about {
    padding-top: 120px;
}

.d-flex {
    display: flex !important;
}

.search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
}
